<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/greeted.css' />
    <link rel='stylesheet' href='css/simple-grid-min.css' />
    <title>Greeted People</title>
  </head>
  <body>
    <div class='row'>
      <div class='col-12'>
        <div class='container'>
          <form action='/greeted' method='GET'>
            <button class='block' type='submit'><a href='/'>Home</a></button>
            <p>A list of greeted people</p>
            {{!-- <a href='counter/:name'>{{greetedPeopleTemplate}}</a> --}}
            <ul>
              {{#each greeted}}
                <a href='counter/{{this.username}}'><li
                  >{{this.username}}</li></a>
              {{/each}}
            </ul>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>