<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/greeted.css' />
    <link rel='stylesheet' href='css/simple-grid-min.css' />
    <title>User counter</title>
  </head>
  <body>
    <div class='row'>
      <div class='col-12'>
        <div class='container'>
          <form action='/counter/:name' method='GET'>
            <button class='block' type='submit'><a href='/'>Home</a></button>
            <button class='block' type='submit'><a
                href='/greeted'
              >Back</a></button>
            <h2>Showing how many times a user has been greeted</h2>

            {{greetedPeopleTemplate}}

            {{greetedPeeps}}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>