<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/simple-grid-min.css' />
    <link rel='stylesheet' href='/css/greeted.css' />
    <link rel='stylesheet' href='/css/greet.css' />

    <title>User Counter</title>
  </head>
  <body>
    <div class='row'>
      <div class='col-12'>
        <div class='container'>
          <form action='/counter/:name' method='GET'>
            <button class='blocker' type='submit'><a href='/'>Home</a></button>
            <button class='blocker' type='submit'><a
                href='/greeted'
              >Back</a></button>
            <h1>Showing how many times a user has been greeted</h1>

            {{greetedPeopleTemplate}}

            <h2>Hello,
              {{greetedPeeps.username}}
              has been greeted
              {{greetedPeeps.number_of_greetings}}
              times
            </h2>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>