body{
    background-image: url("./glassmophism.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
}

.container {
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.block{
    background-color: #db8bc7;
    border-radius: 14px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
    box-shadow: 0px 15px 20px rgba(208, 46, 229, 0.4);
}